body{
	font: 1em Helvetica;
	margin: 0;
	padding: 0;
}
form{
	text-align: center;
	padding: 10px;
	background-color: black;
	color: white;
	font-size: 1.3rem;
}
.copyToClipboard{
	margin-left: 20px;
	height: 1.5rem;
	border-radius: 4px;
	background-color: inherit;
	color: inherit;
}